## 이름 : 정승희 학번 : 202111352

print() 함수

><small>숫자나 문자열 등의 데이터나 수식을 화면에 출력할 때 사용</small>

In [4]:
print(10+20) #() 속의 연산 결과 출력

30

In [5]:
print("서원대학교") #문자열 출력

서원대학교

In [7]:
print("abc " * 3) #문자열 3번 출력

abc abc abc

In [8]:
x = 25
y = 32
z = x + y
print(x, y) #변수 x, y 값 출력

25 32

In [9]:
print(x, '+', y, '=', z) #문자열과 변수의 조합 출력

25 + 32 = 57

print() 함수-서식 지정

><small>숫자나 문자열 등의 데이터를 서식을 지정하여 화면에 출력할 때 사용</small>

In [10]:
print(10+20)

30

In [11]:
print("10"+"20")

1020

In [12]:
print("abc " * 3)

abc abc abc

In [13]:
n = 10
print("n = %d" %n)

n = 10

In [14]:
m = 5.2
print("m = %.1f, n = %d" % (m, n))

m = 5.2, n = 10

input() 함수

><small>* 키보드를 이용하여 숫자나 문자열 등의 데이터를 입력받을 때 사용</small>
<br><small>* 입력된 정보는 문자열</small>

In [17]:
n = input('type a number : ')

In [18]:
n #문자열로 입력된다

'3'

In [19]:
int(n) #문자열로 정수로 변환

3

In [20]:
float(n) #문자열을 실수형으로 변환

3.0

In [21]:
n = str(3) #정수를 문자열로 변환

In [22]:
n

'3'

입출력 함수의 사용 예

><small>문자열을 입력 받아 다른 문자열과 결합하여 출력</small>

In [24]:
name = input('Name: ')
print("Hello," + name)

Hello,정승희

><small>두 정수를 입력 받아 곱셈 결과 출력</small>

In [25]:
a = int(input('Number 1: '))
b = int(input('Number 2: '))
print(a * b)

3

><small>섭씨온도(C)를 입력 받아 화씨온도(F)로 바꾸어 출력</small>

In [26]:
C = float(input("Type 섭씨온도 : "))
F = C * 9/5 + 32 #온도 변환
print("화씨온도는", F)

화씨온도는 86.0