## 이름 : 정승희 학번 : 202111352

><small>3명 이상 친구 이름 리스트를 작성하고 다음 내용을 프로그램 하시오</small>

In [1]:
friend = ["가", "나", "다"]

friend.insert(0, "라")
friend.insert(2, "마")
friend.append("바")

print("친구 리스트: ", friend)

친구 리스트:  ['라', '가', '마', '나', '다', '바']

><small>리스트[1, 2, 3]에 대해 다음과 같은 처리를 하라.</small>

In [5]:
n = [1, 2, 3]

n[1] = [17]
n.extend([4, 5, 6])
n[1] = 0

n.sort()
n[3] = 25

print(n)

[0, 1, 3, 25, 5, 6]